.App {
  text-align: center;
}

.App-logo {
  height: 59vmin;
  pointer-events: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.container img {
  height: 600px;
}

.viewPokemonButton {
  position: relative;
  margin-top: 50px;
  margin-left: 190px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border: 1px solid grey;
  text-decoration: none;
  color: #105410;
  border-radius: 12px;
}

.viewPokemonButton:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-weight: 700;
}

.backHomePage {
  position: relative;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border: 1px solid grey;
  text-decoration: none;
  color: #8a2a19;
  border-radius: 12px;
  margin: 5px;
}

.backHomePage:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-weight: 700;
}

.TitlePage {
  margin: 1px;
  padding: 23px;
  width: 300px;
  height: 70px;
  text-align: center;
  border: 5px solid #cccccc1f;
  border-radius: 20px;
}
.showpage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.TitlePage p .atag {
  text-decoration: none;
  cursor: zoom-in;
}

.TitlePage p {
  transition: 0.3s ease;
}

.TitlePage p:hover {
  font-weight: bold;
  border-radius: 5px;
  padding: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transform: scale(1.2,2.2);
  -ms-transform: scale(1.2,2.2);
  transform: scale(1.2,2.2);
  transition: 0.3s ease;
}

.next {
  position: relative;
  float: right;
  margin-top: -50px;
  cursor: pointer;
}

.previous {
  cursor: pointer;
}

.disableButton {
  cursor: not-allowed;
  position: relative;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border: 1px solid grey;
  text-decoration: none;
  color: #8a2a19;
  border-radius: 12px;
  margin: 5px;
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.pokemonImage {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: grab;
  height: 550px;
  border-radius: 30px;
}

div span {
  padding: 10px;
  top: 19px;
  position: relative;
  font-weight: bold;
}
